In [31]:
import pandas as pd
import pandera as pa

LENDO ARQUIVO CSV E SELECIONANDO COLUNAS ESCOLHIDAS (ETAPA DE EXTRAÇÃO)

In [32]:
df = pd.read_csv('ocorrencia.csv',sep=';', dayfirst=True ,parse_dates=['ocorrencia_dia'])
df = df[['codigo_ocorrencia','codigo_ocorrencia2','ocorrencia_classificacao','ocorrencia_cidade','ocorrencia_uf',
         'ocorrencia_aerodromo','ocorrencia_dia','ocorrencia_hora','total_recomendacoes']]

ETAPA DE VALIDAÇÃO/CORREÇÃO NECESSÁRIOS DE DADOS NESTE DATA FRAME

In [33]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia": pa.Column(pa.Int),
        "codigo_ocorrencia2": pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2)),
        "ocorrencia_aerodromo": pa.Column(pa.String),
        "ocorrencia_dia":  pa.Column(pa.DateTime),
        "ocorrencia_hora":  pa.Column(pa.String,pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$') ,nullable = True),
        "total_recomendacoes":  pa.Column(pa.Int)
    
    }
)

In [34]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,80898,80898,INCIDENTE GRAVE,LONDRINA,PR,SBLO,2022-08-04,21:10:00,0
1,80895,80895,INCIDENTE GRAVE,MONTES CLAROS,MG,SBMK,2022-08-02,15:05:00,0
2,80894,80894,INCIDENTE,JUSSARA,GO,SWGW,2022-07-31,13:30:00,0
3,80887,80887,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2022-07-30,01:23:00,0
4,80886,80886,INCIDENTE,LÁBREA,AM,SWLB,2022-07-29,17:12:00,0
...,...,...,...,...,...,...,...,...,...
5524,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
5525,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
5526,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0
5527,52243,52243,INCIDENTE,UBATUBA,SP,****,2012-01-06,14:30:00,0
5528,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0

In [35]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object