In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('ocorrencia.csv',sep=';', dayfirst=True ,parse_dates=['ocorrencia_dia'])
df = df[['codigo_ocorrencia','codigo_ocorrencia2','ocorrencia_classificacao','ocorrencia_cidade','ocorrencia_uf',
         'ocorrencia_aerodromo','ocorrencia_dia','ocorrencia_hora','total_recomendacoes']]
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,80898,80898,INCIDENTE GRAVE,LONDRINA,PR,SBLO,2022-08-04,21:10:00,0
1,80895,80895,INCIDENTE GRAVE,MONTES CLAROS,MG,SBMK,2022-08-02,15:05:00,0
2,80894,80894,INCIDENTE,JUSSARA,GO,SWGW,2022-07-31,13:30:00,0
3,80887,80887,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2022-07-30,01:23:00,0
4,80886,80886,INCIDENTE,LÁBREA,AM,SWLB,2022-07-29,17:12:00,0

MANIPULAÇÃO COM LINHAS E COLUNAS PARA FAZER A LIMPEZA

In [9]:
df.replace(['**','###!','####','***','****','*****','NULL',' '], pd.NA, inplace=True) #retirando os simbulos e trocando por <NA>
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,80898,80898,INCIDENTE GRAVE,LONDRINA,PR,SBLO,2022-08-04,21:10:00,0
1,80895,80895,INCIDENTE GRAVE,MONTES CLAROS,MG,SBMK,2022-08-02,15:05:00,0
2,80894,80894,INCIDENTE,JUSSARA,GO,SWGW,2022-07-31,13:30:00,0
3,80887,80887,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2022-07-30,01:23:00,0
4,80886,80886,INCIDENTE,LÁBREA,AM,SWLB,2022-07-29,17:12:00,0
...,...,...,...,...,...,...,...,...,...
5524,45333,45333,ACIDENTE,VIAMÃO,RS,<NA>,2012-01-06,13:00:00,0
5525,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,<NA>,2012-01-06,17:00:00,0
5526,45407,45407,ACIDENTE,SÃO SEPÉ,RS,<NA>,2012-01-06,16:30:00,0
5527,52243,52243,INCIDENTE,UBATUBA,SP,<NA>,2012-01-06,14:30:00,0
5528,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0

In [10]:
df.isna().sum() # quantidade de dados não informados no conteudo de cada coluna

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  4
ocorrencia_aerodromo        2018
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64