In [1]:
import pandas as pd
import pandera as pa

In [2]:
valores_ausentes = ['**','###!','####','****','*****','NULL']
df = pd.read_csv("ocorrencia.csv", sep=";", parse_dates=['ocorrencia_dia'], dayfirst=True, na_values=valores_ausentes)
df = df[['codigo_ocorrencia','codigo_ocorrencia2','ocorrencia_classificacao','ocorrencia_cidade','ocorrencia_uf',
         'ocorrencia_aerodromo','ocorrencia_dia','ocorrencia_hora','total_recomendacoes']]
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,80898,80898,INCIDENTE GRAVE,LONDRINA,PR,SBLO,2022-08-04,21:10:00,0
1,80895,80895,INCIDENTE GRAVE,MONTES CLAROS,MG,SBMK,2022-08-02,15:05:00,0
2,80894,80894,INCIDENTE,JUSSARA,GO,SWGW,2022-07-31,13:30:00,0
3,80887,80887,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2022-07-30,01:23:00,0
4,80886,80886,INCIDENTE,LÁBREA,AM,SWLB,2022-07-29,17:12:00,0
5,80891,80891,INCIDENTE,SÃO PAULO,SP,SBSP,2022-07-29,20:50:00,0
6,80896,80896,INCIDENTE,CAMPINAS,SP,SBKP,2022-07-29,23:40:00,0
7,80882,80882,INCIDENTE,BAURU,SP,SBBU,2022-07-27,17:30:00,0
8,80883,80883,INCIDENTE,BELÉM,PA,SBBE,2022-07-27,19:18:00,0
9,80884,80884,INCIDENTE,MACAPÁ,AP,SBMQ,2022-07-27,18:20:00,0

In [3]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia": pa.Column(pa.Int),
        "codigo_ocorrencia2": pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2), nullable = True),
        "ocorrencia_aerodromo": pa.Column(pa.String,nullable=True),
        "ocorrencia_dia":  pa.Column(pa.DateTime),
        "ocorrencia_hora":  pa.Column(pa.String,pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$') ,nullable = True),
        "total_recomendacoes":  pa.Column(pa.Int)
    
    }
)

In [4]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,80898,80898,INCIDENTE GRAVE,LONDRINA,PR,SBLO,2022-08-04,21:10:00,0
1,80895,80895,INCIDENTE GRAVE,MONTES CLAROS,MG,SBMK,2022-08-02,15:05:00,0
2,80894,80894,INCIDENTE,JUSSARA,GO,SWGW,2022-07-31,13:30:00,0
3,80887,80887,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2022-07-30,01:23:00,0
4,80886,80886,INCIDENTE,LÁBREA,AM,SWLB,2022-07-29,17:12:00,0
...,...,...,...,...,...,...,...,...,...
5524,45333,45333,ACIDENTE,VIAMÃO,RS,NaN,2012-01-06,13:00:00,0
5525,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0
5526,45407,45407,ACIDENTE,SÃO SEPÉ,RS,NaN,2012-01-06,16:30:00,0
5527,52243,52243,INCIDENTE,UBATUBA,SP,NaN,2012-01-06,14:30:00,0
5528,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0

In [5]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [6]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  4
ocorrencia_aerodromo        2018
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [7]:
filtro = df.ocorrencia_aerodromo.isna()
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
11,80879,80879,ACIDENTE,CAMPO GRANDE,MS,NaN,2022-07-26,20:02:00,0
12,80874,80874,INCIDENTE,CAPIVARI,SP,NaN,2022-07-25,16:40:00,0
14,80881,80881,INCIDENTE,ARAPONGAS,PR,NaN,2022-07-25,12:38:00,0
23,80871,80871,ACIDENTE,LOANDA,PR,NaN,2022-07-19,17:00:00,0
27,80861,80861,INCIDENTE,CAMPOS DOS GOYTACAZES,RJ,NaN,2022-07-16,18:25:00,0
...,...,...,...,...,...,...,...,...,...
5520,45391,45391,ACIDENTE,CONCEIÇÃO DAS ALAGOAS,MG,NaN,2012-01-08,16:00:00,0
5524,45333,45333,ACIDENTE,VIAMÃO,RS,NaN,2012-01-06,13:00:00,0
5525,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0
5526,45407,45407,ACIDENTE,SÃO SEPÉ,RS,NaN,2012-01-06,16:30:00,0
5527,52243,52243,INCIDENTE,UBATUBA,SP,NaN,2012-01-06,14:30:00,0

In [8]:
df.count()

codigo_ocorrencia           5529
codigo_ocorrencia2          5529
ocorrencia_classificacao    5529
ocorrencia_cidade           5529
ocorrencia_uf               5525
ocorrencia_aerodromo        3511
ocorrencia_dia              5529
ocorrencia_hora             5528
total_recomendacoes         5529
dtype: int64

In [9]:
#ocorrências com mais de 10 recomendações
filtro = df.total_recomendacoes > 10
df.loc[filtro, ['ocorrencia_cidade', 'total_recomendacoes']]

     ocorrencia_cidade  total_recomendacoes
2724           VITÓRIA                   12
3858            SANTOS                   13
4684          BRASÍLIA                   11

In [10]:
#ocorrências cuja classificação == INCIDENTE GRAVE e o estado == SP
filtro1 = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
90,80785,80785,INCIDENTE GRAVE,IBITINGA,SP,SDIG,2022-06-11,11:00:00,0
120,80763,80763,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-05-25,18:59:00,0
283,80546,80546,INCIDENTE GRAVE,BAURU,SP,SBBU,2022-02-17,14:39:00,0
296,80530,80530,INCIDENTE GRAVE,PIRACICABA,SP,NaN,2022-02-06,12:20:00,0
300,80514,80514,INCIDENTE GRAVE,MARÍLIA,SP,SBML,2022-02-03,12:20:00,0
...,...,...,...,...,...,...,...,...,...
5387,45651,45651,INCIDENTE GRAVE,ITU,SP,NaN,2012-03-24,20:45:00,1
5438,45599,45599,INCIDENTE GRAVE,BRAGANÇA PAULISTA,SP,SBBP,2012-02-27,19:15:00,0
5444,45653,45653,INCIDENTE GRAVE,GUARULHOS,SP,SBGR,2012-02-24,20:04:00,0
5449,45598,45598,INCIDENTE GRAVE,BRAGANÇA PAULISTA,SP,SBBP,2012-02-20,14:10:00,0
5522,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0

In [11]:
#ocorrências cuja cidade comecem com a letra C
filtro = df.ocorrencia_cidade.str[0] == 'C'
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
6,80896,80896,INCIDENTE,CAMPINAS,SP,SBKP,2022-07-29,23:40:00,0
10,80885,80885,ACIDENTE,CONDEÚBA,BA,SIPO,2022-07-27,13:40:00,0
11,80879,80879,ACIDENTE,CAMPO GRANDE,MS,NaN,2022-07-26,20:02:00,0
12,80874,80874,INCIDENTE,CAPIVARI,SP,NaN,2022-07-25,16:40:00,0
18,80875,80875,INCIDENTE,CURITIBA,PR,SBBI,2022-07-22,21:44:00,0
...,...,...,...,...,...,...,...,...,...
5505,45405,45405,INCIDENTE,CUIABÁ,MT,NaN,2012-01-20,08:00:00,0
5510,50714,50714,INCIDENTE GRAVE,CAMOCIM,CE,SNWC,2012-01-17,18:25:00,0
5512,45409,45409,ACIDENTE,CÁCERES,MT,NaN,2012-01-14,10:00:00,0
5520,45391,45391,ACIDENTE,CONCEIÇÃO DAS ALAGOAS,MG,NaN,2012-01-08,16:00:00,0
5522,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0

In [12]:
#ocorrências do ano de 2015 e mês 12 e dias entre 3 e 8
filtro_ano = df.ocorrencia_dia.dt.year == 2015
filtro_mes = df.ocorrencia_dia.dt.month == 12
filtro_dia_inicio = df.ocorrencia_dia.dt.day > 2 
filtro_dia_fim = df.ocorrencia_dia.dt.day < 9
df.loc[filtro_ano & filtro_mes & filtro_dia_inicio & filtro_dia_fim]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
3215,53628,53628,ACIDENTE,AGUAÍ,SP,NaN,2015-12-08,14:30:00,1
3216,53629,53629,INCIDENTE GRAVE,JALES,SP,SDJL,2015-12-08,10:20:00,0
3217,53631,53631,INCIDENTE,CAMPINAS,SP,SBKP,2015-12-08,16:19:00,0
3218,60636,60636,INCIDENTE,CAXIAS DO SUL,RS,SBCX,2015-12-08,13:00:00,0
3219,53625,53625,ACIDENTE,TRINDADE,GO,NaN,2015-12-06,13:10:00,3
3220,53626,53626,ACIDENTE,AMERICANA,SP,SDAI,2015-12-06,15:00:00,1
3221,53575,53575,INCIDENTE,CAMPOS DOS GOYTACAZES,RJ,SBFS,2015-12-03,10:50:00,0
3222,60637,60637,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-12-03,16:47:00,0

In [13]:
#ocorrências do ano de 2015 e mês 03
filtro1 = df.ocorrencia_dia.dt.year == 2015
filtro2 = df.ocorrencia_dia.dt.month == 3
df201503 = df.loc[filtro1 & filtro2]
df201503

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
3532,53211,53211,INCIDENTE,BAURU,SP,SBBU,2015-03-30,19:40:00,0
3533,53181,53181,ACIDENTE,COLÍDER,MT,NaN,2015-03-29,20:17:00,0
3534,53187,53187,INCIDENTE,JOINVILLE,SC,SBJV,2015-03-29,18:36:00,0
3535,53179,53179,ACIDENTE,CAIAPÔNIA,GO,NaN,2015-03-28,10:30:00,0
3536,53180,53180,ACIDENTE,ARAGUARI,MG,NaN,2015-03-28,18:52:00,0
3537,53190,53190,INCIDENTE,CAMPINAS,SP,SBKP,2015-03-28,16:26:00,0
3538,53212,53212,INCIDENTE,JUNDIAÍ,SP,SBJD,2015-03-28,17:32:00,0
3539,53213,53213,INCIDENTE,JUNDIAÍ,SP,SBJD,2015-03-28,15:51:00,0
3540,53186,53186,INCIDENTE,BRASÍLIA,DF,NaN,2015-03-27,14:55:00,0
3541,53194,53194,ACIDENTE,GUARACIABA DO NORTE,CE,SWBE,2015-03-26,20:30:00,0
3542,53166,53166,INCIDENTE GRAVE,RIACHÃO DAS NEVES,BA,NaN,2015-03-24,14:45:00,0
3543,53170,53170,INCIDENTE,CONFINS,MG,SBCF,2015-03-24,17:57:00,0
3544,53185,53185,INCIDENTE,CURITIBA,PR,SBCT,2015-03-24,23:01:00,0
3545,53412,53412,INCIDENTE GRAVE,MACAÉ,RJ,NaN,2015-03-24,16:35:00,2
3546,53178,53178,ACIDENTE,DIAMANTINO,MT,NaN,2015-03-23,17:15:00,0
3547,53182,53182,ACIDENTE,SANTA LUZIA,MA,NaN,2015-03-23,20:40:00,0
3548,53184,53184,ACIDENTE,PORTO UNIÃO,SC,NaN,2015-03-22,13:44:00,0
3549,53165,53165,INCIDENTE GRAVE,SÃO DESIDÉRIO,BA,NaN,2015-03-20,14:35:00,0
3550,53188,53188,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2015-03-20,21:00:00,0
3551,53169,53169,INCIDENTE,BELÉM,PA,SBBE,2015-03-19,03:25:00,0
3552,53151,53151,INCIDENTE GRAVE,MAUÉS,AM,SWMW,2015-03-16,18:07:00,1
3553,53168,53168,INCIDENTE,PARÁ DE MINAS,MG,SNPA,2015-03-16,21:05:00,0
3554,53164,53164,ACIDENTE,PRINCESA ISABEL,PB,NaN,2015-03-15,18:30:00,0
3555,53189,53189,INCIDENTE,CONFINS,MG,SBCF,2015-03-14,07:20:00,0
3556,53193,53193,ACIDENTE,CANARANA,MT,NaN,2015-03-14,18:00:00,0
3557,53153,53153,INCIDENTE,PORTO ALEGRE,RS,SBPA,2015-03-13,15:45:00,0
3558,53154,53154,INCIDENTE,SOROCABA,SP,SDCO,2015-03-13,14:40:00,0
3559,53238,53238,INCIDENTE,SERRA,ES,NaN,2015-03-13,11:30:00,0
3560,53148,53148,ACIDENTE,ARARAS,SP,SDEH,2015-03-12,12:40:00,0
3561,53149,53149,ACIDENTE,TABATINGA,AM,SBTT,2015-03-11,23:25:00,0
3562,53152,53152,INCIDENTE GRAVE,RIO DE JANEIRO,RJ,SBRJ,2015-03-10,11:30:00,2
3563,53167,53167,INCIDENTE,MARABÁ,PA,SBMA,2015-03-10,17:33:00,0
3564,53596,53596,INCIDENTE,ITAPEMA,SC,NaN,2015-03-10,21:35:00,0
3565,53112,53112,ACIDENTE,MOGI GUAÇU,SP,NaN,2015-03-06,21:00:00,1
3566,53109,53109,ACIDENTE,CAMPO GRANDE,MS,SSIE,2015-03-05,13:50:00,0
3567,53120,53120,ACIDENTE,CHAVES,PA,SNXW,2015-03-04,13:30:00,0
3568,53183,53183,ACIDENTE,AMAPORÃ,PR,NaN,2015-03-02,23:00:00,0

In [14]:
df201503.groupby(['ocorrencia_classificacao']).size().sort_values(ascending=False)

ocorrencia_classificacao
INCIDENTE          17
ACIDENTE           15
INCIDENTE GRAVE     5
dtype: int64